.app-header {
    background-color: #9e9e9e;
}

.header-container {
    display: flex;
    background-color: #9e9e9e;
    padding: 5px;
    & h1 {
        font-size: rem(20px);
    }
    & img {
        height: 35px;
    }
    &>* {
        padding: 5px;
    }
}